body{
    background: rgb(0, 0, 0);
}

.container {
    border: 3px solid;
    border-image: linear-gradient(to right, #f17d3a, #f1a311) 1;
    border-radius: 20px;
    margin: 20px auto;
    padding: 30px 30px;
    max-width: 500px;
}

/* counter main container */

.counter-main {
    text-align: center;
    font-size: 8em;
    font-family: Arial, Helvetica, sans-serif;
}

#counter-display {
    color: white;
    text-shadow: 3px 3px #f1a311;
}

/* button main container */

.button-main {
    text-align: center;
}

/* Decrement Button Style */

#counter-decrement {
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    padding: 15px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f17d3a;
    margin: 15px 15px;
    box-shadow: 3px 3px #f1a311;
}

/* Reset Button Style */

#counter-reset {
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    padding: 15px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f17d3a;
    margin: 15px 15px;
    box-shadow: 3px 3px #f1a311;
}

/* Increment Button Style */

#counter-increment {
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    padding: 15px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f17d3a;
    margin: 15px 15px;
    box-shadow: 3px 3px #f1a311;
}

/* adding onlclick effect in all buttons */

#counter-decrement:active {
    box-shadow: 0 5px #f1a311;
    transform: translateY(4px);
}

  #counter-reset:active {
    box-shadow: 0 5px #f1a311;
    transform: translateY(4px);
}

#counter-increment:active {
    box-shadow: 0 5px #f1a311;
    transform: translateY(4px);
}

/* Styles for screens less than 768px wide */
@media only screen and (max-width: 768px) {

    .container {
        border: none;
        overflow: hidden;
    }

    .counter-main {
        margin-top: 60px;
        
    }

    .button-main {
        font-size: 0;
    }

    /* changing the button text into icons for mobiles */

    #counter-decrement::before {
        content: '\2013';
        font-size: 20px; 
    }

    #counter-reset::before {
        content: '\21bb';
        font-size: 20px;
    }

    #counter-increment::before {
        content: '\002B';
        font-size: 20px;
    }

}

